@import 'bulma/sass/utilities/initial-variables';

$primary: #f86c74;
$primary-light: #fa9e9e;
$link: #f86c74;
$success: #08db80;
$info: #04cef7;
$warning: #fcca14;
$danger: #ff5382;
$family-primary: 'Poppins';
