.is-apple {
    padding-left: 8px;
    padding-right: 8px;

    img {
        padding-right: 8px;
    }
}

#apple-btn-content {
    margin-top: 3px;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
}
